<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style-historic.css') }}"
    />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font-suezone.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/font-awesome.min.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/all.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/jquery.dataTables.min.css') }}"
    />

    <title>Historico</title>
  </head>
  <body>
    <div class="main">
      <div class="wrapper-left">
        <div class="header-temperatura-asfalto">
          <a href="/" class="active">
            <i class="fas fa-road" style="color: #32322c; font-size: 40px"></i>
            <p class="description-header">Temperatura Asfalto</p>
          </a>
        </div>

        <div class="navegacao-dashboard">
          <i class="fas fa-thermometer-three-quarters"></i>
          <p class="dashboard-text">
            <a href="./">Dashboard</a>
          </p>
        </div>
        <div class="navegacao-tabela">
          <i class="fas fa-table"></i>
          <p class="dashboard-text">
            <a class="history-text" href="#">Histórico</a>
          </p>
        </div>

        <div class="imagem">
          <img
            src="{{ url_for('static', filename='UEMA_logo_oficial.png') }}"
          />
        </div>
        <a
          id="menu-buguer"
          href="javascript:void(0);"
          class="icon"
          onclick="myFunction()"
        >
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="wrapper-middle">
        <div id="myLinks">
          <a href="./">Dashboard</a>
          <br />
          <a href="./historic">Histórico</a>
        </div>
      </div>
      <div class="wrapper-right">
        <div class="text">
          <p class="title">Database</p>
          <p class="description">Histórico de Temperatura no Banco de dados</p>
        </div>
        <div class="content">
          <div class="card-table">
            <table id="minhaTabela" class="table table-striped">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Temperatura (&degC)</th>
                  <th>Umidade (%)</th>
                  <th>Data</th>
                  <th>Horario</th>
                  <th>ESP_ID</th>
		  <th>RASP_ID</th>
                </tr>
              </thead>
              <tbody>
                {% for entry in readings %}
                <tr>
                  <td>{{ entry.id }}</td>
                  <td>{{ entry.temperature }}</td>
                  <td>{{ entry.humidity }}</td>
                  <td>{{ entry.currentdate }}</td>
                  <td>{{ entry.currenttime }}</td>
                  <td>{{ entry.device }}</td>
		  <td>{{ entry.device_rpi }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

            <script src="{{ url_for('static', filename='js/dataTables/jquery-3.5.1.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dataTables/jquery.dataTables.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dataTables/dataTables.buttons.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dataTables/jszip.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dataTables/pdfmake.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dataTables/jszip.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dataTables/buttons.html5.min.js') }}"></script>
            <script src="{{ url_for('static', filename='js/dataTables/buttons.print.min.js') }}"></script>

            <script>
              $(document).ready(function () {
                $("#minhaTabela").DataTable({
                  autoWidth: true,
                  lengthChange: true,
                  responsive: true,
                  order: [[0, "desc"]],
                  dom: "Bfrtip",
                  buttons: [
                    { extend: "print", className: "button" },
                    { extend: "csv", className: "button" },
                    { extend: "excel", className: "button" },
                    { extend: "pdf", className: "button" },
                  ],
                  language: {
                    lengthMenu: "Mostrando _MENU_ registros por página",
                    zeroRecords: "Nada encontrado",
                    info: "Mostrando página _PAGE_ de _PAGES_",
                    infoEmpty: "Nenhum registro disponível",
                    infoFiltered: "(filtrado de _MAX_ registros no total)",
                  },
                });
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script>
    function myFunction() {
      var x = document.getElementById("myLinks");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }
  </script>
</html>
