<!DOCTYPE html>

<head>
   <title>Dashboard Temperatura</title>

   <meta name="viewport" content="width=device-width, initial-scale=1.0">

   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

   <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/font-suezone.css') }}">
	 <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
	
   <script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
   <script src="{{ url_for('static', filename='js/jquery-1.11.2.js') }}"></script>
   <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
   <script src="{{ url_for('static', filename='js/exporting.js') }}"></script>
   <script src="{{ url_for('static', filename='js/export-data.js') }}"></script>
   <script src="{{ url_for('static', filename='js/accessibility.js') }}"></script>

   <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
   <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        
      	var socket = io.connect('http://' + document.domain + ':' + location.port);
      	socket.on('connect', function() {
          socket.emit('my event', {data: 'I\'m connected!'});
      	});
        
      	//socket.on('temperature', function(msg) {
          //console.log('temp: ', msg);
         //var nDate = new Date();
          //$('#hora').text(nDate.getHours() + ' : ' + nDate.getMinutes() +
             //' : ' + nDate.getSeconds() + '').html();
          //$('#data').text(nDate.getDate() + ' de ' + (nDate.getMonth()+1) +
             //' de ' + nDate.getFullYear() + '').html();
          //$('#temperature').text(msg.data).html();
          
      	//});
        
        //socket.on('humidity', function(msg) {
          //console.log('umidade: ', msg);
         //var nDate = new Date();
          //$('#horaH').text(nDate.getHours() + ' : ' + nDate.getMinutes() +
             //' : ' + nDate.getSeconds() + '').html();
          //$('#dataH').text(nDate.getDate() + ' de ' + (nDate.getMonth()+1) +
             //' de ' + nDate.getFullYear() + '').html();
          //$('#humidity').text(msg.data).html();
                    
      	//});
          //{% for entry in data %}
          //var x = {{ entry.currenttime }},
          //y = parseFloat({{ entry.humidity }});
          //if(chartH.series[0].data.length > 40) {
            //chartH.series[0].addPoint([x, y], true, true, true);
          //} else {
            //chartH.series[0].addPoint([x, y], true, false, true);
          //}
        
          //var x = {{ entry.currenttime }},
          //y = parseFloat({{ entry.temperature }});
          //if(chartT.series[0].data.length > 40) {
            //chartT.series[0].addPoint([x, y], true, true, true);
          //} else {
            //chartT.series[0].addPoint([x, y], true, false, true);
          //}
          //{% endfor %}
          //var z = document.getElementByClassName("card-grafico");
          //if (z.style.width === "300px"){
            //chartT.setSize(300);
          //} else {
            //chartT.setSize(null);
          //}
      });
   </script>
</head>
<body>
    <div class="main">
      <div class="wrapper-left">
        <div class="header-temperatura-asfalto">
          <a href="/" class="active">
            <i class="fas fa-road" style="color: #32322c; font-size: 40px"></i>
            <p class="description-header">Temperatura Asfalto</p>
          </a>
        </div>

        <div class="navegacao-dashboard">
          <i class="fas fa-thermometer-three-quarters"></i>
          <p class="dashboard-text">
            <a href="#">Dashboard</a>
          </p>
        </div>
        <div class="navegacao-tabela">
          <i class="fas fa-table"></i>
          <p class="dashboard-text">
            <a class="history-text" href="./historic">Histórico</a>
          </p>
        </div>
        <div class="imagem">
          <img
            src="{{ url_for('static', filename='UEMA_logo_oficial.png') }}"
          />
        </div>
        <a id="menu-buguer" href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="wrapper-middle">
        <div id="myLinks">
          <a href="./">Dashboard</a>
          <br>
          <a href="./historic">Histórico</a>
        </div>
      </div>
      <div class="wrapper-right">
        <div class="text">
          <p class="title">Bem vindo!</p>
          <p class="description">Temperatura Revestimento Superficie</p>
        </div>        
        <div class="content">
        <div class="temp-area">
          <div id ="card-temp-id" class="card-temp">
            <div class="info">
              <i class="fas fa-info-circle"></i>
              <div>
                <p>Ultima atualização:</p>
                {% for entry in data %}
                <p id="hora">{{ entry.currenttime }}</p>
                <p id="data">{{ entry.currentdate }}</p>
                <p id="data">{{ entry.device }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="temperature">
              <!-- <span>%TEMP_VALUE%</span> -->
              {% for entry in data %}
              <span id="temperature">{{ entry.temperature }}</span>
              {% endfor %}
              &degC
            </div>
            <div class="local">
              <i class="fas fa-road"></i>
              <p>
                São Luis
                <br />
                Maranhão
              </p>
            </div>
          </div>
          <div class="card-grafico" id="chart-temperature">
            <div class="grafico"></div>
          </div>
        </div>
        <div class="temp-area">
          <div id ="card-temp-id" class="card-temp">
            <div class="info">
              <i class="fas fa-info-circle"></i>
              <div>
                <p>Ultima atualização:</p>
                {% for entry in data %}
                <p id="hora">{{ entry.currenttime }}</p>
                <p id="data">{{ entry.currentdate }}</p>
                <p id="data">{{ entry.device }}</p>
                {% endfor %}
              </div>
            </div>
            <div class="temperature">
              <!-- <span>%TEMP_VALUE%</span> -->
              {% for entry in data %}
              <span id="humidity">{{ entry.humidity }}</span>
              {% endfor %}
              %
            </div>
            <div class="local">
              <i class="fas fa-road"></i>
              <p>
                São Luis
                <br />
                Maranhão
              </p>
            </div>
          </div>
          <div class="card-grafico" id="chart-humidity">
            <div class="grafico"></div>
          </div>
        </div>
        </div>
        <div class="development-by">
          <p>Desenvolvido por:</p>
          <p>
            <a href="https://www.linkedin.com/in/gabrielly-moura/">
              Gabrielly Moura &copy</a
            >
          </p>
        </div>
      </div>
    </div>
</body>
<script>
var chartT = new Highcharts.Chart({
  chart:{ renderTo : 'chart-temperature' },
  title: { text: 'Temperatura do Revestimento' },
  series: [{
    showInLegend: false,
    data: []
  }],
  plotOptions: {
    line: { animation: false,
      dataLabels: { enabled: true }
    },
    series: { color: '#39A0ED' }
  },
  xAxis: { type: 'datetime',
    dateTimeLabelFormats: { second: '%H:%M:%S' }
  },
  yAxis: {
    title: { text: 'Temperatura (Celsius)' }
    //title: { text: 'Temperature (Fahrenheit)' }
  },
  credits: { enabled: false },
  responsive: true,
});

var chartH = new Highcharts.Chart({
  chart:{ renderTo : 'chart-humidity' },
  title: { text: 'Umidade do Solo' },
  series: [{
    showInLegend: false,
    data: []
  }],
  plotOptions: {
    line: { animation: false,
      dataLabels: { enabled: true }
    },
    series: { color: '#39A0ED' }
  },
  xAxis: { type: 'datetime',
    dateTimeLabelFormats: { second: '%H:%M:%S' }
  },
  yAxis: {
    title: { text: 'Umidade (%)' }
    //title: { text: 'Temperature (Fahrenheit)' }
  },
  credits: { enabled: false },
  responsive: true,
});


function myFunction() {
  var x = document.getElementById("myLinks");
  if (x.style.display === "block") {
    x.style.display = "none";
  } else {
    x.style.display = "block";
  }
}
</script>

</html>
